*.iml
*.phar

tmp/*

.idea/

public/images/

!shoes_icon.ico

!for_readme1.png

!for_readme2.png

public/receipts/

/vendor/gabordemooij/

/vendor/vlucas/

/vendor/doctrine/

/vendor/egulias/

/vendor/paragonie/

/vendor/swiftmailer/

/vendor/symfony/

/vendor/store/core/Db.php