*.iml
*.phar

tmp/*

.idea/

public/images/

!for_readme.png

public/receipts/

/vendor/gabordemooij/

/vendor/vlucas/

/vendor/doctrine/

/vendor/egulias/

/vendor/paragonie/

/vendor/swiftmailer/

/vendor/symfony/
