@font-face {
    font-family: 'Quicksand-Light';
    src:url(../fonts/Quicksand-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    src:url(../fonts/Quicksand-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand-Medium';
    src:url(../fonts/Quicksand-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand-Bold';
    src:url(../fonts/Quicksand-Bold.ttf) format('truetype');
}
:root{
    --main-color: #97b498;
    --secondary-color: #c7e5c8;
    --main-color-rgba: rgba(151, 180, 152, .25);
}
body{
    font-family: 'Quicksand';
}


/* header */

    /* sidebar-nav */
    .sidebar-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0; 
        left: 0;
        background-color: #5a5a5a;
        overflow-x: hidden;
        transition: 0.5s;
        color: #fff;
    }
    .open-nav{
        border: none;
        padding: 5px 10px;
        background: transparent;
        font-size: 1.8rem;
    }
    /* search */
    .custom-input{
        padding: 7px;
        border: 1px solid #eee;
        border-radius: 4px;
    }
    .form-control.custom-input:focus {
        color: #495057;
        background-color: #fff;
        border-color: var(--main-color);
        outline: 0;
        box-shadow: 0 0 0 0.2rem var(--main-color-rgba);
    }
    .tt-menu {
        background: #fff;
        border: 1px solid #eee;
        border-radius: 4px;
        margin-top: 5px;
        max-width: 100%;
        padding: 10px;
    }
    .tt-suggestion.tt-selectable {
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }
    select {
        border-radius: 4px;
    }
    select#currency {
        border-radius: 4px;
        margin-left: 8px;
    }