@import 'vars.css';
@import '../libs/megamenu/megamenu.css';

@font-face {
    font-family: 'Quicksand-Light';
    src:url(../fonts/Quicksand-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    src:url(../fonts/Quicksand-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand-Medium';
    src:url(../fonts/Quicksand-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand-Bold';
    src:url(../fonts/Quicksand-Bold.ttf) format('truetype');
}

body{
    font-family: 'Quicksand';
}
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--main-color-rgba);
    -webkit-box-shadow: inset 0 0 6px var(--main-color-rgba); 
    border-radius: 0;
    background: var(--main-color-rgba);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px var(--main-color);
    -webkit-box-shadow: inset 0 0 6px var(--main-color); 
    background: var(--main-color);
}
main{
    position: relative;
}
.bg-container{
    background: var(--secondary-bg);
}
/*heading*/
.heading{
    color: var(--main-color);
}
/*buttons*/
button{
    border-radius: 0.4rem;
}
button:focus{
    outline: none;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 0.4rem;
}

:focus {
    outline: none;
}
.custom-btn{
    background-color: var(--contrast-color);
    border-color: var(--contrast-color);
    color: #fff;
    padding: 0.375rem 29px;
}
.custom-btn:hover{
    color: #fff;
}
.custom-btn:focus{
    box-shadow: 0 0 0 0.2rem var(--contrast-color-rgba);
}
.custom-btn-secondary{
    background-color: var(--main-bg);
    border-color: var(--main-bg);
    color: #fff;
    padding: 0.375rem 29px;
}
.custom-btn-secondary:hover{
    color: #fff;
}
.custom-btn-secondary:focus{
    box-shadow: 0 0 0 0.2rem var(--main-color-rgba);
}
.btn-dark, .btn-dark.focus, .btn-dark:focus, .btn-dark:hover {
    background-color: var(--main-bg);
    border-color: var(--main-bg);
}
.btn-dark.focus, .btn-dark:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.1);
}
.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: var(--main-bg);
    border-color: var(--main-bg);
}
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}
/* header */
.main-navbar{
    background: var(--main-bg);
}
.main-navbar .navbar-brand {
    color: var(--nav-text-color);
}
.main-navbar .open-nav{
    color: var(--nav-text-color);
}
/*top-container*/
.top-container{
    background: var(--secondary-bg);
    margin-bottom: 15px;
}
/*breadcrambs*/
.breadcrumb{
    background: var(--secondary-bg);
    padding: .375rem 15px;
    border-radius: 0;
    margin: 0;
}
.breadcrumb a{
    color: var(--light-text-color);
}
    
/* search */
@media (min-width: 576px) {
    .form-inline .form-control {
        width: 250px;
    }
}
.custom-input{
    padding: 7px;
    border: 1px solid #eee;
    border-radius: 4px;
}
.form-control.custom-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--main-color);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--main-color-rgba);
}
.tt-menu {
    background: #fff;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    margin-top: 5px;
    max-width: 100%;
    padding: 10px;
    right: 9px;
}
.tt-suggestion.tt-selectable {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 5px;
}
select {
    border-radius: 4px;
}
select#currency {
    border-radius: 4px;
    margin-left: 8px;
}
/*product on main page*/
.card{
    border-radius: 0;
    border: none;
}
.card-body {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 49px;    
    background: rgba(255,255,255, 0.8);
    transition: all .3s ease;
}
.card:hover .card-body {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}
.card-body .card-link{
    color: inherit;
    line-height: 1.2;
    display: block;
}
.card-footer {
    background-color: var(--main-bg);
    border-top: 1px solid var(--main-bg);
    color: #fff;
    text-align: right;
}
.srch{
    position: absolute;
    right: 0;
    padding: 2px 5px;
    top: 10px;
    background: red;
    color: #fff;
    border-radius: 0.4rem 0 0 0.4rem;
}

.search-item img{
    max-width: 50px;
    height: auto;
}

/*cart*/
.cart.box_1 {
    display: flex;
    align-items: center;
}
.total::before {
    content: "\f07a";
    font-family: 'FontAwesome';
    margin-right: 5px;
}
.table img {
    max-width: 100px;
}
/*product page*/
    /*slider*/
    .slick-slide img {
        display: block;
        max-width: 100%;
    }
    .slick-arrow {
        position: absolute;
        z-index: 1;
        border: none;
        padding: 0;
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        font-size: 2.5rem;
        color: var(--contrast-color);
        border-radius: 0;
    }
    #quantity-input {
        height: 40px;
        padding: 0 0 0 10px;
        max-width: 63px;
        width: 63px;
        border: 1px solid var(--contrast-color);
        color: var(--light-text-color);
        background: transparent;
        position: relative;
        z-index: 1;
    }
    input[type="number"]::-webkit-outer-spin-button, 
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        background: transparent;
        width: 1em;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .quantity-input{
        position: relative;
    }
    .quantity-input::after {
        font-family: 'FontAwesome';
        content: "\f0dc";
        color: var(--contrast-color);
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
    }

/*tools*/
.filters{
    width: 240px;
    transition: all 300ms ease;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 10;
    min-height: 100%;
    float: left;
    color: var(--light-text-color);
}
.filters > * {    
    padding: 0 15px;
}
.toggle-filtres{
    color: var(--light-text-color);
}
.toggle-filtres:hover{
    color: var(--light-text-color);
}
.filters:not(.show){
    transform: translateX(-240px);
    margin-left: -240px;
}
.products-container{
    width:100%;
    transition: all .3s ease;
}
.products-container.show-filters{
    transition: all .3s ease;
}
#filters > .filters-title {
    padding: 10px 15px;
    font-size: 1.5rem;
}
.filters-group{
    margin-bottom: 10px;
}
.filters-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
.group-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    border-width: 6px 5px 0 5px;
}
.filters-wrapper{
    position: relative;
}
.filters-close-btn{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.5rem;
    padding: 0 10px;
    color: var(--main-color);
}
@media screen and (max-width:576px) {
    .filters{
        width: 100%;
        float: none;
        position: absolute;
    }
    .filters:not(.show){
        transform: translateX(-100%);
        margin-left: -100%;
    }
}
/*sort*/
#sort-select {
    border: none;
    padding: 5px;
}
.sort-label{
    color: var(--light-text-color);
}
.custom-sort-select + .select2-container--default .select2-selection--single {
    border: none;
}
.custom-sort-select + .select2-container .select2-selection--single {
    height: 38px;
}
.custom-sort-select + .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--light-text-color);
    line-height: 35px;
    background: var(--secondary-bg);
    height: 100%;
}
.custom-sort-select + .select2-container {
    width: 65px!important;
    /* margin-top: -2px; */
}
.custom-sort-select + .select2-container--open .select2-dropdown--below {
    overflow: hidden;
}
.custom-sort-select + .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
}
.custom-sort-select + .select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: -3px;
}
.custom-sort-select-dropdown .select2-results__option--highlighted[aria-selected] {
    background-color: var(--main-color);
    color: white;
}
.custom-sort-select-dropdown {
    border: none;
}
.custom-sort-select-dropdown .select2-results__option{
    color: var(--main-color);
}
.custom-sort-select-dropdown .select2-results__option[aria-selected=true] {
    background-color: #fff;
    color: var(--main-color);
}
.custom-sort-select-dropdown .select2-results__option[aria-selected=true]:hover {
    background-color: var(--main-color);
    color: #fff;
}
/*chose size select*/
.custom-size-select + .select2 {
    width: 63px!important;
}
.custom-size-select + .select2-container--default .select2-selection--single {
    border-radius: 0;
    border: 1px solid var(--contrast-color);
    height: 40px;
}
.custom-size-select + .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.custom-size-select + .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--light-text-color);
    line-height: 40px;
}
.custom-size-select + .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent var(--light-text-color) transparent;
    border-width: 0 4px 5px 4px;
}
.custom-size-select + .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--contrast-color) transparent transparent transparent;
}
.select2-dropdown.custom-size-select-dropdown {
    background-color: white;
    border: 1px solid var(--contrast-color);
    border-radius: 0;
}
.select2-container--default .custom-size-select-dropdown .select2-results__option--highlighted[aria-selected] {
    background-color: var(--contrast-color);
}
.select2-container--default .custom-size-select-dropdown .select2-results__option[aria-selected=true] {
    background-color: var(--contrast-color-rgba);
    color: var(--light-text-color);
}
.custom-size-select-dropdown .select2-results__option {
    color: var(--light-text-color);
}
.select2-container--default .custom-size-select-dropdown .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 8px;
}

.select2-container--default .custom-size-select-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px var(--contrast-color-rgba-light);
    -webkit-box-shadow: inset 0 0 4px var(--contrast-color-rgba-light); 
    border-radius: 10px;
    background: var(--contrast-color-rgba-light);
}

.select2-container--default .custom-size-select-dropdown .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 4px var(--contrast-color-rgba-strong);
    -webkit-box-shadow: inset 0 0 4px var(--contrast-color-rgba-strong); 
    background: var(--contrast-color-rgba-strong);
}

/*image in search*/
.box img{
    height: 80px;
}
/*image in color choice*/
.color-choice img{
    height: 80px;
}
/*cart*/
.modal-content *:not(.btn){
    color: var(--light-text-color);
}
.cart-img{
    max-width: 70px;
}
.cursor-pointer:hover{
    cursor: pointer;
}
/*table*/
.table-hover tbody tr:hover {
    color: #212529;
    background-color: var(--contrast-color-rgba);
}
.table td, .table th {
    border-top: 1px solid var(--contrast-color-rgba-light);
}
.table thead th {
    border-bottom: 2px solid var(--contrast-color-rgba-light);
}
.modal-header{
    border: none;
}